
<div class="container">
<h1>list of my products updated</h1>
<div class="col-md-12 " *ngFor="let prod of result" >
    <div class="row p-3">
        <div class="col-md-2">
            <img src="../../../assets/img/{{prod.img}}" width="40%">  
        </div>
        <div class="col-md-2"><h5>{{prod.name}}</h5></div>   
        <div class="col-md-2"><h5>{{prod.price}} TND</h5></div>  
    </div>
</div>
<span class="mt-5 flex-end"><a href="/products" class="btn btn-info">Back to list</a> </span>
</div>
