<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="#"><b>Shop</b><p class="gamer">GAMER</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse col-md-6" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-md-6">
        <li class="nav-item ">
          <a class="nav-link"  routerLink="products" routerActiveLink="active">Products <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Contact <span class="sr-only"></span></a>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0 col-md-3 mx-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      
      </form>
   
          <a class="btn btn-warning"  routerLink="cart" routerActiveLink="active">Cart <span class="sr-only"></span></a>
   
    </div>
  </nav>